version: '3'

services:
  elasticmq:
    image: softwaremill/elasticmq
    ports:
      - "9324:9324"
    volumes:
      - ./ops/elasticmq/custom.conf:/opt/elasticmq.conf
  mysql:
    image: mysql:5.6
    environment:
      - MYSQL_ALLOW_EMPTY_PASSWORD=yes
      - MYSQL_ROOT_PASSWORD=
    ports:
      - "3306:3306"
  prometheus:
    image: prom/prometheus:v2.19.2
    ports:
      - '9090:9090'
    volumes:
      - ./ops/prometheus:/etc/prometheus/
      - prometheus-data:/prometheus
    command:
      - '--config.file=/etc/prometheus/config.yml'
      - '--storage.tsdb.path=/prometheus'

volumes:
  prometheus-data: {}